# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

# OS X
.DS_Store

# Docker
docker-compose.override.yml

# Project Specific
.gemini/
