server:
  port: 8084

spring:
  application:
    name: tracking-service
  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

---
spring:
  config:
    activate:
      on-profile: docker
  data:
    redis:
      host: redis
eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/
