server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true
      routes:
        # Auth Service (Public + Private)
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/api/v1/auth/**
        
        # Order Service (Protected -> Open for Dev)
        - id: order-service
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/api/v1/orders/**
          filters:
            - AddRequestHeader=X-User-Id,123e4567-e89b-12d3-a456-426614174000
        
        # Driver Service (Protected -> Open for Dev)
        - id: driver-service
          uri: lb://DRIVER-SERVICE
          predicates:
            - Path=/api/v1/drivers/**
          filters:
            - AddRequestHeader=X-User-Id,123e4567-e89b-12d3-a456-426614174000

        # Tracking Service (Protected -> Open for Dev)
        - id: tracking-service
          uri: lb://TRACKING-SERVICE
          predicates:
            - Path=/api/v1/tracking/**
          filters:
            - AddRequestHeader=X-User-Id,123e4567-e89b-12d3-a456-426614174000
        
        # Websocket (Public/Protected handled in app)
        - id: tracking-ws
          uri: lb://TRACKING-SERVICE
          predicates:
            - Path=/ws/**

        # PoD Service (Protected -> Open for Dev)
        - id: pod-service
          uri: lb://POD-SERVICE
          predicates:
            - Path=/api/v1/pod/**
          filters:
            - AddRequestHeader=X-User-Id,123e4567-e89b-12d3-a456-426614174000

jwt:
  # Must match Auth Service Secret
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

---
spring:
  config:
    activate:
      on-profile: docker
eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/
