server:
  port: 8087

spring:
  application:
    name: analytics-service
  datasource:
    url: jdbc:postgresql://localhost:5432/analytics_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  rabbitmq:
    host: localhost
    port: 5672

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

---
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:postgresql://postgres:5432/analytics_db
  rabbitmq:
    host: rabbitmq
eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/
